<!DOCTYPE html>

<html lang="en" dir="ltr"
  prefix="fb: http://ogp.me/ns/fb# content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="../sites/default/files/machine-build-16x16_0.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description"
    content="The following example discussion is from the online book Web Applications with JavaScript or Java. Already available from ES5.1 (and even supported by IE 9), JavaScript&#039;s set and get methods have not been used very widely. Their main use case is the implementation of a best practice in Object-Oriented Programming, which recommends not to allow direct value assignments to" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="canonical" href="70.html" />
  <link rel="shortlink" href="70.html" />
  <title>Using JavaScript's Implicit Setters and Getters | web-engineering.info</title>
  <link rel="stylesheet" href="../../_includes/modules/system/system.base5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.menus5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.messages5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.theme5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/comment/comment5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/field/theme/field5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/node/node5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/search/search5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/user/user5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/forum/forum5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/views/css/views5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ckeditor/css/ckeditor5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ctools/css/ctools5056.css" type="text/css" media="all">
  <link rel="stylesheet"
    href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.headings5056.css" type="text/css"
    media="screen">
  <link rel="stylesheet"
    href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.image5056.css" type="text/css"
    media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.layout5056.css"
    type="text/css" media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/webeng.custom5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/html-elements5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/forms5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/tables5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/page5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/articles5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/comments5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/fields5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/blocks5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/navigation5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/corolla.settings.style5056.css"
    type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/color/colors5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/print5056.css" type="text/css"
    media="print">
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.responsive.layout5056.css"
    media="only screen" />
  <link rel="stylesheet" href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.fonts5056.css"
    type="text/css" media="screen">
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.custom5056.css"
    media="only screen" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.portrait5056.css"
    media="only screen and (max-width:320px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.landscape5056.css"
    media="only screen and (min-width:321px) and (max-width:480px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.portrait5056.css"
    media="only screen and (min-width:481px) and (max-width:768px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.landscape5056.css"
    media="only screen and (min-width:769px) and (max-width:1024px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.desktop5056.css"
    media="only screen and (min-width:1025px)" />

</head>

<body
  class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-70 node-type-blog atr-7.x-3.x atv-7.x-3.1 site-name-web-engineeringinfo section-node color-scheme-default corolla bs-n bb-n mb-dd rc-6 rct-6">
  <div id="skip-link" class="nocontent">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <div id="page-wrapper">
    <div id="page"
      class="page snc-n snw-n sna-l sns-n ssc-n ssw-n ssa-l sss-n btc-n btw-b bta-l bts-n ntc-n ntw-b nta-l nts-n ctc-n ctw-b cta-l cts-n ptc-n ptw-b pta-l pts-n">


      <div id="header-wrapper">
        <div class="container clearfix">

          <header class="clearfix with-logo" role="banner">

            <div id="branding" class="branding-elements clearfix">

              <div id="logo">
                <a href="../../index.html"><img class="site-logo" typeof="foaf:Image"
                    src="../sites/default/files/logo_1.png" alt="web-engineering.info" /></a>
              </div>

              <div class="h-group" id="name-and-slogan">

                <h1 id="site-name"><a href="../../index.html" title="Home page">web-engineering.info</a></h1>

                <h2 id="site-slogan">High-quality resources for learning developers and makers</h2>

              </div>

            </div>


          </header>

        </div>
      </div>




      <div id="content-wrapper">
        <div class="container">

          <div id="columns">
            <div class="columns-inner clearfix">

              <div id="content-column">
                <div class="content-inner">


                  <section id="main-content" role="main">


                    <div class="content-margin">
                      <div class="content-style">


                        <div id="breadcrumb" class="clearfix">
                          <nav class="breadcrumb-wrapper clearfix" role="navigation" aria-labelledby="breadcrumb-label">
                            <h2 id="breadcrumb-label" class="element-invisible">You are here</h2>
                            <ol id="crumbs" class="clearfix">
                              <li class="crumb crumb-first"><span typeof="v:Breadcrumb"><a rel="v:url"
                                    property="v:title" href="../../blog/index.html">Blogs</a></span></li>
                              <li class="crumb crumb-last"><span class="crumb-separator"> &#187; </span><span
                                  typeof="v:Breadcrumb"><a rel="v:url" property="v:title"
                                    href="../blog/2.html">gwagner&#039;s blog</a></span></li>
                            </ol>
                          </nav>
                        </div>

                        <header class="clearfix">
                          <h1 id="page-title">
                            Using JavaScript&#039;s Implicit Setters and Getters </h1>
                        </header>



                        <div id="content">
                          <div class="region region-content">
                            <div id="block-easy-social-easy-social-block-1"
                              class="block block-easy-social no-title odd first block-count-1 block-region-content block-easy-social-block-1">

                              <div class="easy_social_box clearfix horizontal easy_social_lang_en">
                                <div class="easy_social-widget easy_social-widget-twitter first"><a
                                    href="https://twitter.com/share" class="twitter-share-button"
                                    data-url="https://web-engineering.info/node/70" data-count="horizontal"
                                    data-lang="en" data-via="" data-related=":Check it out!"
                                    data-text="web-engineering.info">Tweet</a></div>
                                <div class="easy_social-widget easy_social-widget-facebook">
                                  <fb:like href="70.html" send="true" layout="button_count" width="88" show_faces="true"
                                    action="https://web-engineering.info/node/like" colorscheme="light" font="">
                                  </fb:like>
                                </div>
                                <div class="easy_social-widget easy_social-widget-googleplus">
                                  <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                    data-href="https://web-engineering.info/node/70"></div>
                                </div>
                                <div class="easy_social-widget easy_social-widget-linkedin last">
                                </div>
                              </div> <!-- /.easy_social_box -->
                            </div>
                            <div id="block-system-main"
                              class="block block-system no-title even last block-count-2 block-region-content block-main">

                              <article id="node-70"
                                class="node node-blog node-promoted article odd node-with-picture node-full ia-n clearfix"
                                about="/node/70" typeof="sioc:Post sioct:BlogPost" role="article">
                                <div class="node-inner">


                                  <header class="node-header">


                                    <p class="submitted"><span property="dc:date dc:created"
                                        content="2017-05-24T15:20:33+02:00" datatype="xsd:dateTime"
                                        rel="sioc:has_creator">Submitted by <a href="../user/2.html"
                                          title="View user profile." class="username" xml:lang="" about="/user/2"
                                          typeof="sioc:UserAccount" property="foaf:name" datatype="">gwagner</a> on
                                        <time datetime="2017-05-24T15:20:33+0200">Wed, 05/24/2017 - 15:20</time></span>
                                    </p>

                                  </header>
                                  <span property="dc:title"
                                    content="Using JavaScript&#039;s Implicit Setters and Getters"
                                    class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0"
                                    datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                  <div class="node-content">
                                    <div class="user-picture">
                                      <a href="../user/2.html" title="View user profile."><img typeof="foaf:Image"
                                          class="image-style-thumbnail"
                                          src="../sites/default/files/styles/thumbnail/public/pictures/picture-2-14442312552e30.jpg?itok=fLXXwl1V"
                                          alt="gwagner&#039;s picture" title="gwagner&#039;s picture" /></a>
                                    </div>
                                    <div
                                      class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full">
                                      <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                          <p>The following example discussion is from the online book&nbsp;<a
                                              href="../../WebAppBook/index.html">Web Applications with JavaScript or Java</a>.
                                          </p>

                                          <p>Already available from ES5.1 (and even supported by IE 9), JavaScript's
                                            <code>set</code> and <code>get</code> methods have not been used very
                                            widely. Their main use case is the implementation of a best practice in
                                            Object-Oriented Programming, which recommends not to allow direct value
                                            assignments to properties, but rather to control all value assignments in
                                            a&nbsp;setter method (for instance, for validating the value or for logging
                                            the change event). But only with the new ES6 language element
                                            <code>class</code> it becomes convenient defining setters (and getters) in a
                                            JavaScript class.
                                          </p>

                                          <p>Let's look at a simple example: defining a getter for the ISBN property of
                                            a Book class:</p>

                                          <pre>
class <strong>Book</strong> {
  ...
  <strong>get</strong> isbn () {
    return this._isbn;
  }
  ...
}</pre>

                                          <p>Notice that we use a property name like "isbn" for the name of such a
                                            getter method and we prefix it with the keyword <code>get</code>, but this
                                            name only appears to be a property name. It can, however, not be used for
                                            storing a value. Rather, we need to complement it with an ordinary property
                                            (here we have chosen the name <code>_isbn</code>) for storing a value.</p>

                                          <p>A JS getter method is implicitly invoked by a JS engine when there is a
                                            read access for the corresponding property, like through the expression
                                            <code>book.isbn</code> in the following code:
                                          </p>

                                          <pre>
book = new Book("006251587X");
console.log("The ISBN is: "+ book.isbn);</pre>

                                          <p>JavaScript's&nbsp;setters and getters are implicit (you don't see them).
                                            They allow having the same semantics as explicit setter methods, but with
                                            the simple syntax of direct access. In addition to having the advantage of a
                                            simpler syntax, using implicit setters in JavaScript is also safer than
                                            using explicit setters because they decrease the likelihood of a JavaScript
                                            programmer circumventing a setter by using a direct property assignment when
                                            instead a setter should be used. In other OOP languages, like Java, this is
                                            prevented by declaring properties to be 'private'. But JavaScript does not
                                            have this option.</p>

                                          <p>Let's build a more complete example: defining a class for <em>book</em>
                                            objects having three properties (ISBN, title and year). We first define the
                                            constructor of the class like so:</p>

                                          <pre>
class <strong>Book</strong> {
  constructor (i,t,y) {
    // assign default values to mandatory properties
    this._isbn = "";
    this._title = "";
    this._year = 0;
    // is constructor invoked with arguments?
    if (arguments.length &gt; 0) {
      // assign properties by invoking implicit setters
      this.isbn = i;
      this.title = t;
      this.year = y;
    }
  }
  ...
  <strong>get</strong> isbn () {
    return this._isbn;
  }
  <strong>set</strong> isbn (i) {
    var validationResult = Book.checkIsbn( i);
    if (validationResult instanceof NoConstraintViolation) {
      this._isbn = isbn;
    } else {
      throw validationResult;
    }
  }
  ...
}</pre>

                                          <p>Notice that the implicit getters and setters normally access a
                                            corresponding internal property, like <code>_isbn</code>. This approach is
                                            based on the assumption that this internal property is normally not accessed
                                            directly, but only via its getter or setter. Since we can normally assume
                                            that developers comply with such a rule (and that there is no malicious
                                            developer in the team), this approach is normally safe enough. However, it
                                            is also possible to increase the safety by generating random names for the
                                            internal properties with the help of ES6 symbols.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <section
                                      class="field field-name-field-category field-type-taxonomy-term-reference field-label-above view-mode-full">
                                      <h2 class="field-label">Category:&nbsp;</h2>
                                      <ul class="field-items">
                                        <li class="field-item even"><a href="../taxonomy/term/53.html"
                                            typeof="skos:Concept" property="rdfs:label skos:prefLabel"
                                            datatype="">ES6</a></li>
                                      </ul>
                                    </section>
                                    <div class="easy_social_box clearfix horizontal easy_social_lang_und">
                                      <div class="easy_social-widget easy_social-widget-twitter first"><a
                                          href="https://twitter.com/share" class="twitter-share-button"
                                          data-url="https://web-engineering.info/node/70" data-count="horizontal"
                                          data-lang="en" data-via="" data-related=":Check it out!"
                                          data-text="Using JavaScript's Implicit Setters and Getters">Tweet</a></div>
                                      <div class="easy_social-widget easy_social-widget-facebook">
                                        <fb:like href="70.html" send="true" layout="button_count" width="88"
                                          show_faces="true" action="https://web-engineering.info/node/like"
                                          colorscheme="light" font=""></fb:like>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-googleplus">
                                        <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                          data-href="https://web-engineering.info/node/70"></div>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-linkedin last">
                                      </div>
                                    </div> <!-- /.easy_social_box -->
                                    <div id="disqus_thread"><noscript>
                                        <p><a
                                            href="http://web-engineering.disqus.com/?url=https%3A%2F%2Fweb-engineering.info%2Fnode%2F70">View
                                            the discussion thread.</a></p>
                                      </noscript></div>
                                  </div>

                                  <nav class="clearfix">
                                    <ul class="links inline">
                                      <li class="blog_usernames_blog first last"><a href="../blog/2.html"
                                          title="Read gwagner&#039;s latest blog entries.">gwagner&#039;s blog</a></li>
                                    </ul>
                                  </nav>


                                </div>
                              </article>

                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </section>

                  <div class="region region-content-aside">
                    <div class="region-inner clearfix">
                      <div id="block-block-2"
                        class="block block-block no-title odd first last block-count-3 block-region-content-aside block-2">
                        <div class="block-inner clearfix">

                          <div class="block-content content">
                            <p style="text-align: center; margin-top: 10px;">©
                              2014-2020&nbsp;web-engineering.info&nbsp;<a
                                href="https://plus.google.com/104237216582874489152" rel="publisher"><img alt="G+"
                                  src="../../assets/images/gplus-16.png" style="width: 16px; height: 16px;" /></a> | <a
                                href="../../about/index.html">About Us</a> | <a href="../../privacy/index.html">Privacy
                                Policy</a> | Terms
                              &amp;
                              Conditions</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="region region-sidebar-first sidebar">
                <div class="region-inner clearfix">
                  <nav id="block-system-main-menu"
                    class="block block-system block-menu odd first block-count-3 block-region-sidebar-first block-main-menu"
                    role="navigation">
                    <div class="block-inner clearfix">
                      <h2 class="block-title">Main menu</h2>

                      <div class="block-content content">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-depth-1 menu-item-1476"><a href="https://sim4edu.com"
                              title="The Simulation for Education (Sim4edu) project website supports web-based simulation with open source technologies for science and education.">Web-Based
                              Discrete Event Simulation</a></li>
                          <li class="leaf menu-depth-1 menu-item-1218"><a href="../../WebAppBook/index.html"
                              title="Web Applications with JavaScript or Java">Textbook
                              Web Apps JS+Java</a></li>
                          <li class="leaf menu-depth-1 menu-item-1477"><a href="../../textbooknode80/index.html">Book
                              Information Management</a></li>
                          <li class="leaf menu-depth-1 menu-item-366"><a href="../../blog/index.html"
                              title="A blog about web engineering issues.">Web Engineering
                              Blog</a></li>
                          <li class="leaf menu-depth-1 menu-item-758"><a
                              href="../../SummariesCheatsheetsPosters/index.html">Summaries
                              &amp; Cheat
                              Sheets</a></li>
                          <li class="leaf menu-depth-1 menu-item-361"><a href="../../JsFrontendApp/index.html"
                              title="This 6-part tutorial shows how to build front-end web applications with plain JavaScript, not using any (third-party) framework or library.">Front-End
                              Apps with Plain JS</a></li>
                          <li class="leaf active-trail menu-depth-1 menu-item-465"><a
                              href="../../JavaJpaJsfApp/index.html"
                              title="Learn how to build back-end Java web applications with Java Server Faces (JSF) as the user interface technology, the Java Persistence API (JPA) as the object-to-storage mapping technology, and a MySQL database."
                              class="active-trail active">Back-End Apps with Java EE</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-806"><a href="../../mODELcLASSjsApp/index.html"
                              title="Getting rid of boilerplate code with the model-based development approach of mODELcLASSjs.">Apps
                              with mODELcLASSjs </a></li>
                          <li class="leaf menu-depth-1 menu-item-805"><a href="../../WoTProjects/index.html"
                              title="A WoT system is a communication network consisting of sensor nodes, actuator nodes and service nodes connected to the Internet and built with web technologies.">Web
                              of Things (WoT)</a></li>
                          <li class="leaf menu-depth-1 menu-item-613"><a href="../../forum/index.html"
                              title="">Discussion
                              Forums</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-720"><a href="../../team/index.html"
                              title="Team members list.">Team</a></li>
                          <li class="last leaf menu-depth-1 menu-item-554"><a
                              href="../../contribute/index.html">Contribute
                              / Support Us</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
               
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>
</body>


</html>