<!DOCTYPE html>
<html lang="en" dir="ltr"
  prefix="fb: http://ogp.me/ns/fb# content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="../sites/default/files/machine-build-16x16_0.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description"
    content="There have been many articles about the new language elements introduced to JavaScript by ECMAScript 2015+ (that is, 2015+16+17+18+19+20+...). Typically, in these articles, a great number of new features are presented without taking their relevance into consideration, often with artificial programming examples that do not help to exhibit the potential use of a new feature. In" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="canonical" href="81.html" />
  <link rel="shortlink" href="81.html" />
  <title>The Most Important New JavaScript Elements for Basic Programming | web-engineering.info</title>
  <link rel="stylesheet" href="../../_includes/modules/system/system.base5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.menus5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.messages5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.theme5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/comment/comment5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/field/theme/field5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/node/node5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/search/search5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/user/user5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/forum/forum5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/views/css/views5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ckeditor/css/ckeditor5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ctools/css/ctools5056.css" type="text/css" media="all">
  <link rel="stylesheet"
    href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.headings5056.css" type="text/css"
    media="screen">
  <link rel="stylesheet"
    href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.image5056.css" type="text/css"
    media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.layout5056.css"
    type="text/css" media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/webeng.custom5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/html-elements5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/forms5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/tables5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/page5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/articles5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/comments5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/fields5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/blocks5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/navigation5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/corolla.settings.style5056.css"
    type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/color/colors5056.css" type="text/css"
    media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/print5056.css" type="text/css"
    media="print">
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.responsive.layout5056.css"
    media="only screen" />
  <link rel="stylesheet" href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.fonts5056.css"
    type="text/css" media="screen">
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.custom5056.css"
    media="only screen" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.portrait5056.css"
    media="only screen and (max-width:320px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.landscape5056.css"
    media="only screen and (min-width:321px) and (max-width:480px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.portrait5056.css"
    media="only screen and (min-width:481px) and (max-width:768px)" />
  <link type="text/css" rel="stylesheet"
    href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.landscape5056.css"
    media="only screen and (min-width:769px) and (max-width:1024px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.desktop5056.css"
    media="only screen and (min-width:1025px)" />

</head>

<body
  class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-81 node-type-blog atr-7.x-3.x atv-7.x-3.1 site-name-web-engineeringinfo section-node color-scheme-default corolla bs-n bb-n mb-dd rc-6 rct-6">
  <div id="skip-link" class="nocontent">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <div id="page-wrapper">
    <div id="page"
      class="page snc-n snw-n sna-l sns-n ssc-n ssw-n ssa-l sss-n btc-n btw-b bta-l bts-n ntc-n ntw-b nta-l nts-n ctc-n ctw-b cta-l cts-n ptc-n ptw-b pta-l pts-n">


      <div id="header-wrapper">
        <div class="container clearfix">

          <header class="clearfix with-logo" role="banner">

            <div id="branding" class="branding-elements clearfix">

              <div id="logo">
                <a href="../../index.html"><img class="site-logo" typeof="foaf:Image"
                    src="../sites/default/files/logo_1.png" alt="web-engineering.info" /></a>
              </div>

              <div class="h-group" id="name-and-slogan">

                <h1 id="site-name"><a href="../../index.html" title="Home page">web-engineering.info</a></h1>

                <h2 id="site-slogan">High-quality resources for learning developers and makers</h2>

              </div>

            </div>


          </header>

        </div>
      </div>




      <div id="content-wrapper">
        <div class="container">

          <div id="columns">
            <div class="columns-inner clearfix">

              <div id="content-column">
                <div class="content-inner">


                  <section id="main-content" role="main">


                    <div class="content-margin">
                      <div class="content-style">


                        <div id="breadcrumb" class="clearfix">
                          <nav class="breadcrumb-wrapper clearfix" role="navigation" aria-labelledby="breadcrumb-label">
                            <h2 id="breadcrumb-label" class="element-invisible">You are here</h2>
                            <ol id="crumbs" class="clearfix">
                              <li class="crumb crumb-first"><span typeof="v:Breadcrumb"><a rel="v:url"
                                    property="v:title" href="../../blog/index.html">Blogs</a></span></li>
                              <li class="crumb crumb-last"><span class="crumb-separator"> &#187; </span><span
                                  typeof="v:Breadcrumb"><a rel="v:url" property="v:title"
                                    href="../blog/2.html">gwagner&#039;s blog</a></span></li>
                            </ol>
                          </nav>
                        </div>

                        <header class="clearfix">
                          <h1 id="page-title">
                            The Most Important New JavaScript Elements for Basic Programming </h1>
                        </header>



                        <div id="content">
                          <div class="region region-content">
                            <div id="block-easy-social-easy-social-block-1"
                              class="block block-easy-social no-title odd first block-count-1 block-region-content block-easy-social-block-1">

                              <div class="easy_social_box clearfix horizontal easy_social_lang_en">
                                <div class="easy_social-widget easy_social-widget-twitter first"><a
                                    href="https://twitter.com/share" class="twitter-share-button"
                                    data-url="https://web-engineering.info/node/81" data-count="horizontal"
                                    data-lang="en" data-via="" data-related=":Check it out!"
                                    data-text="web-engineering.info">Tweet</a></div>
                                <div class="easy_social-widget easy_social-widget-facebook">
                                  <fb:like href="81.html" send="true" layout="button_count" width="88" show_faces="true"
                                    action="https://web-engineering.info/node/like" colorscheme="light" font="">
                                  </fb:like>
                                </div>
                                <div class="easy_social-widget easy_social-widget-googleplus">
                                  <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                    data-href="https://web-engineering.info/node/81"></div>
                                </div>
                                <div class="easy_social-widget easy_social-widget-linkedin last">

                                </div>
                              </div> <!-- /.easy_social_box -->
                            </div>
                            <div id="block-system-main"
                              class="block block-system no-title even last block-count-2 block-region-content block-main">

                              <article id="node-81"
                                class="node node-blog node-promoted article odd node-with-picture node-full ia-n clearfix"
                                about="/node/81" typeof="sioc:Post sioct:BlogPost" role="article">
                                <div class="node-inner">


                                  <header class="node-header">


                                    <p class="submitted"><span property="dc:date dc:created"
                                        content="2020-04-21T23:16:48+02:00" datatype="xsd:dateTime"
                                        rel="sioc:has_creator">Submitted by <a href="../user/2.html"
                                          title="View user profile." class="username" xml:lang="" about="/user/2"
                                          typeof="sioc:UserAccount" property="foaf:name" datatype="">gwagner</a> on
                                        <time datetime="2020-04-21T23:16:48+0200">Tue, 04/21/2020 - 23:16</time></span>
                                    </p>

                                  </header>
                                  <span property="dc:title"
                                    content="The Most Important New JavaScript Elements for Basic Programming"
                                    class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0"
                                    datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                  <div class="node-content">
                                    <div class="user-picture">
                                      <a href="../user/2.html" title="View user profile."><img typeof="foaf:Image"
                                          class="image-style-thumbnail"
                                          src="../sites/default/files/styles/thumbnail/public/pictures/picture-2-14442312552e30.jpg?itok=fLXXwl1V"
                                          alt="gwagner&#039;s picture" title="gwagner&#039;s picture" /></a>
                                    </div>
                                    <div
                                      class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full">
                                      <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                          <p>There have been many articles about the new language elements introduced to
                                            JavaScript by ECMAScript 2015+ (that is, 2015+16+17+18+19+20+...).
                                            Typically, in these articles, a great number of new features are presented
                                            without taking their relevance into consideration, often with artificial
                                            programming examples that do not help to exhibit the potential use of a new
                                            feature.</p>

                                          <p>In this post, we only present the most important new language elements,
                                            which are generally useful for all kinds of basic programming tasks, in a
                                            summarized way.</p>

                                          <h2>Block-Scope Variable Declarations with <code>let</code> and
                                            <code>const</code>
                                          </h2>

                                          <p>ES5 did not allow declaring variables the scope of which is a block
                                            delimited by a pair of curly braces, <code>{</code> and <code>}</code>, or
                                            defined by a <code>for</code> loop. Rather, all variables declared with
                                            <code>var</code>, even if declared within a block, have either a function
                                            scope or the global scope. The new feature of <em>block-scope variable
                                              declarations</em> with <strong> <code>let</code> </strong> and <strong>
                                              <code>const</code> </strong> allows declaring local variables with a
                                            finer-grained scope, which helps avoiding unintended variable duplications
                                            and leads to more modular code.
                                          </p>

                                          <p>There is only one meaning difference between <code>let</code> and
                                            <code>const</code>. Variables declared with <code>const</code> are
                                            <em>frozen</em> or <em>immutable</em>, and in this sense <em>constant</em>,
                                            while <code>let</code> variables are not. It is preferable to use
                                            <code>const</code> for all variables that are not supposed to change their
                                            values. Otherwise, or if this is not clear, one should declare the variable
                                            with <code>let</code> if it is a block-scoped variable, or with
                                            <code>var</code> if it is a global or function-scoped variable.
                                          </p>

                                          <h2>Arrow Functions with <code>=&gt;</code></h2>

                                          <p>Arrow functions provide a more concise function expression syntax, see Ex.
                                            1, and allow using JavaScript's <code>this</code> variable from the
                                            function’s outer environment (its <em>closure</em>) in their function body,
                                            see Ex. 2.</p>

                                          <p>Example 1:</p>

                                          <pre>
let evens = [0,2,4,6,8];
// instead of evens.map( function (v) {return v+1;})
let odds = evens.map( v =&gt; v+1);  // [1,3,5,7,9]</pre>

                                          <p>Example 2:</p>

                                          <pre>
this.nums = [1,3,5,8,10,12,15,17];
this.fives = [];
// instead of this.nums.forEach( function (v) {if (v % 5 === 0) this.fives.push(v);}, this)
this.nums.forEach( v =&gt; {if (v % 5 === 0) this.fives.push(v);});
</pre>

                                          <h2>For-Of Loops over Iterable Objects</h2>

                                          <p>Iterable objects include strings, arrays, array-like objects (e.g., the
                                            built-in <code>arguments</code> object or instances of
                                            <code>HTMLCollections</code> and <code>NodeList</code>), and instances of
                                            the datatype objects <code>TypedArray</code>, <code>Map</code>, and
                                            <code>Set</code>, as well as user-defined iterables. For instance,
                                          </p>

                                          <pre>
const divElems = document.getElementsByTagName("div");  // an HTMLCollection
for (let dEl of divElems) {
  console.log( dEl.id);
}</pre>

                                          <p>A <em>for-of</em> loop is often more handy than a <em>for</em> loop
                                            whenever a counter variable is not needed. As opposed to a
                                            <code>forEach</code> loop, a <em>for-of</em> loop allows iterating over
                                            <code>HTMLCollections</code> and can be abandoned with <code>break</code>.
                                          </p>

                                          <h2>Template Literals</h2>

                                          <p>... are enclosed by backtick characters (like `... `) instead of double or
                                            single quotes and allow a concise syntax for (possibly multi-line) string
                                            values resulting from a combination of fixed text parts and
                                            variables/expressions. For instance,</p>

                                          <pre>
const classValues = "card important";
const name = "Joker";
const htmlTemplate = `&lt;div class="${classValues}"&gt;
  &lt;p&gt;Hello ${name}!&lt;/p&gt;
&lt;/div&gt;`</pre>

                                          <h2>The Spread Operator <code>...</code></h2>

                                          <p>allows spreading (1) the elements of an iterable collection in places where
                                            arguments for function calls or array elements are expected, or (2) the
                                            slots of a JS object in places where name-value pairs are expected. For
                                            instance,</p>

                                          <pre>
let nums = [3,4,5], otherNums = [1, 2, ...nums];  // [1,2,3,4,5]
// cloning an array
let numsClone = [...nums];
// cloning an object
let book = {title:"JavaScript: The Good Parts"};
let bookClone = {...book};</pre>

                                          <h2>Destructuring Assignments</h2>

                                          <p>Allow a concise syntax for assigning the property values of a JS object or
                                            the elements of a JS array to corresponding variables. For instance,</p>

                                          <pre>
var point1 = [10,5];
var [x,y] = point1;
console.log(`x = ${x} | y = ${y}`);  // x = 10 | y = 5

var person1 = {firstName:"James", lastName:"Bond"};
var {first, last} = person1;
console.log(`first:${first} | last:${last}`);  // first:"James" | last:"Bond"</pre>

                                          <p><strong>Use Case 1</strong>: Dealing with <em><strong>multiple return
                                                values</strong></em> of a function.</p>

                                          <pre>
function getRectangle () {
  return {width: 50, height: 20};
}
const {a, b} = getRectangle();
drawRectangle( a, b);</pre>

                                          <p><strong>Use Case 2</strong>: <strong><em>Swapping two
                                                variables</em></strong>.</p>

                                          <pre>
var a = 1, b = 2;
[a,b] = [b,a];
console.log(`a = ${a} | b = ${b}`);  // a = 2 | b = 1</pre>

                                          <p><strong>Use Case 3</strong>: <strong><em>Cloning arrays</em></strong> with
                                            the help of the spread operator.</p>

                                          <pre>
const list = ['red', 'orange', 'yellow'];
const [...listClone] = list;</pre>

                                          <p><strong>Use Case 4</strong>: <strong><em>Simplifying functions with
                                                parameter records</em></strong>.</p>

                                          <p>A function parameter record allows using named arguments in faction calls
                                            instead of argument lists like so:</p>

                                          <pre>
function displayName( paramRec) {
  alert( paramRec.first + " " + paramRec.last);
};
displayName({first:"James", last:"Bond"});</pre>

                                          <p>Using Destructuring, the parameter record fields are assigned to ordinary
                                            function parameters, simplifying the function's code:</p>

                                          <pre>
function displayName({first, last}) {
  alert( first + " " + last);
}
displayName({first:"James", last:"Bond"});</pre>

                                          <h2>Modules</h2>

                                          <p>... are (namespace-protected) libraries that explicitly export those
                                            (variable, function and class) names that other modules and web pages can
                                            use (as implicitly frozen/const). Modules need to explicitly import names
                                            from other modules, while web pages can load modules with a special script
                                            element.</p>

                                          <p>For instance, suppose the following code is in a module file lib/math.js.
                                          </p>

                                          <pre>
<strong>export</strong> function sum( x, y) {return x + y;};
<strong>export</strong> var pi = 3.141593;
</pre>

                                          <p>Then, in another JS file, we can import all elements of lib/math.js and use
                                            them with</p>

                                          <pre>
<strong>import</strong> * as math from "./lib/math.js";
console.log("2π = " + math.sum(math.pi, math.pi));</pre>

                                          <p>Or we can import specific elements of lib/math.js:</p>

                                          <pre>
<strong>import</strong> {sum, pi} from "./lib/math.js";
console.log("2π = " + sum(pi, pi));</pre>

                                          <p>We can load modules in an HTML file in the following way:</p>

                                          <pre>
&lt;script type="module" async="async" src="module1.js"&gt;&lt;/script&gt;
&lt;script type="module" async="async" src="module2.js"&gt;&lt;/script&gt;</pre>

                                          <p>Notice that there is no guarantee which will execute first due to
                                            asynchronous loading..</p>

                                          <h2>Important New JavaScript Elements for Advanced Programming</h2>

                                          <ul>
                                            <li><strong>Promises</strong> for asynchronous method invocation</li>
                                            <li><strong>async-await</strong> for asynchronous method invocation</li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="easy_social_box clearfix horizontal easy_social_lang_und">
                                      <div class="easy_social-widget easy_social-widget-twitter first"><a
                                          href="https://twitter.com/share" class="twitter-share-button"
                                          data-url="https://web-engineering.info/node/81" data-count="horizontal"
                                          data-lang="en" data-via="" data-related=":Check it out!"
                                          data-text="The Most Important New JavaScript Elements for Basic Programming">Tweet</a>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-facebook">
                                        <fb:like href="81.html" send="true" layout="button_count" width="88"
                                          show_faces="true" action="https://web-engineering.info/node/like"
                                          colorscheme="light" font=""></fb:like>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-googleplus">
                                        <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                          data-href="https://web-engineering.info/node/81"></div>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-linkedin last">

                                      </div>
                                    </div> <!-- /.easy_social_box -->
                                    <div id="disqus_thread"><noscript>
                                        <p><a
                                            href="http://web-engineering.disqus.com/?url=https%3A%2F%2Fweb-engineering.info%2Fnode%2F81">View
                                            the discussion thread.</a></p>
                                      </noscript></div>
                                  </div>

                                  <nav class="clearfix">
                                    <ul class="links inline">
                                      <li class="blog_usernames_blog first last"><a href="../blog/2.html"
                                          title="Read gwagner&#039;s latest blog entries.">gwagner&#039;s blog</a></li>
                                    </ul>
                                  </nav>


                                </div>
                              </article>

                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </section>

                  <div class="region region-content-aside">
                    <div class="region-inner clearfix">
                      <div id="block-block-2"
                        class="block block-block no-title odd first last block-count-3 block-region-content-aside block-2">
                        <div class="block-inner clearfix">
                          <div class="block-content content">
                            <p style="text-align: center; margin-top: 10px;">©
                              2014-2020&nbsp;web-engineering.info&nbsp;<a
                                href="https://plus.google.com/104237216582874489152" rel="publisher"><img alt="G+"
                                  src="../../assets/images/gplus-16.png" style="width: 16px; height: 16px;" /></a> | <a
                                href="../../about/index.html">About Us</a> | <a href="../../privacy/index.html">Privacy
                                Policy</a> | Terms
                              &amp;
                              Conditions</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="region region-sidebar-first sidebar">
                <div class="region-inner clearfix">
                  <nav id="block-system-main-menu"
                    class="block block-system block-menu odd first block-count-3 block-region-sidebar-first block-main-menu"
                    role="navigation">
                    <div class="block-inner clearfix">
                      <h2 class="block-title">Main menu</h2>

                      <div class="block-content content">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-depth-1 menu-item-1476"><a href="https://sim4edu.com"
                              title="The Simulation for Education (Sim4edu) project website supports web-based simulation with open source technologies for science and education.">Web-Based
                              Discrete Event Simulation</a></li>
                          <li class="leaf menu-depth-1 menu-item-1218"><a href="../../WebAppBook/index.html"
                              title="Web Applications with JavaScript or Java">Textbook
                              Web Apps JS+Java</a></li>
                          <li class="leaf menu-depth-1 menu-item-1477"><a href="../../textbooknode80/index.html">Book
                              Information Management</a></li>
                          <li class="leaf menu-depth-1 menu-item-366"><a href="../../blog/index.html"
                              title="A blog about web engineering issues.">Web Engineering
                              Blog</a></li>
                          <li class="leaf menu-depth-1 menu-item-758"><a
                              href="../../SummariesCheatsheetsPosters/index.html">Summaries
                              &amp; Cheat
                              Sheets</a></li>
                          <li class="leaf menu-depth-1 menu-item-361"><a href="../../JsFrontendApp/index.html"
                              title="This 6-part tutorial shows how to build front-end web applications with plain JavaScript, not using any (third-party) framework or library.">Front-End
                              Apps with Plain JS</a></li>
                          <li class="leaf active-trail menu-depth-1 menu-item-465"><a
                              href="../../JavaJpaJsfApp/index.html"
                              title="Learn how to build back-end Java web applications with Java Server Faces (JSF) as the user interface technology, the Java Persistence API (JPA) as the object-to-storage mapping technology, and a MySQL database."
                              class="active-trail active">Back-End Apps with Java EE</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-806"><a href="../../mODELcLASSjsApp/index.html"
                              title="Getting rid of boilerplate code with the model-based development approach of mODELcLASSjs.">Apps
                              with mODELcLASSjs </a></li>
                          <li class="leaf menu-depth-1 menu-item-805"><a href="../../WoTProjects/index.html"
                              title="A WoT system is a communication network consisting of sensor nodes, actuator nodes and service nodes connected to the Internet and built with web technologies.">Web
                              of Things (WoT)</a></li>
                          <li class="leaf menu-depth-1 menu-item-613"><a href="../../forum/index.html"
                              title="">Discussion
                              Forums</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-720"><a href="../../team/index.html"
                              title="Team members list.">Team</a></li>
                          <li class="last leaf menu-depth-1 menu-item-554"><a
                              href="../../contribute/index.html">Contribute
                              / Support Us</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                  
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>
</body>


</html>