@import "normalize.css";

body {
  max-width: 50em;
  margin: auto;
  font-size: 0.9em;  /* HTML5 Boilerplate */
  line-height: 1.2;  /* HTML5 Boilerplate */
  color:            #663300;
  padding: 8px;
/*
  background-color: #ffffdd;
*/
}
img {
    vertical-align: middle;  /* HTML5 Boilerplate */
}
h2.title               /* sect1 titles */
{   background-color: #ffe2a0;
    border-style: solid;
    border-color: #663300;
    padding: 4px;
}
h3.title, h4.title      /* sect2 and sect3 titles */
{   background-color: #ffe2a0;
    border-style: solid;
    border-color: #663300;
    padding: 2px;
}
th, td
{   padding: 5px;
}
div.revhistory {
  display: none;
}
span.firstname:before  { content: "By "; }

/*================================================================
 * Inline elements, sorted by class.
 */
span.colophon-uri
{   font-family: monospace;
    font-size: xx-small;
}
span.italic {   
  font-style: italic;
}
span.term {
  font-weight: bold;
}
/*================================================================
 * Block elements, sorted by class.
 */
pre.programlisting, pre.screen {   
  font-size: 84%;
  background-color: #e0e0e0;
  border: 1px solid;
  padding: 5px;
}
div.abstract
{   margin-left: 6em;
    margin-right: 6em;
}
div.code-block-label
{   text-align: right;
    font-size: xx-small;
    font-family: monospace;
}
div.colophon:
{   font-size: x-small;
}
div.colophon-author
{   font-style: italic;
}
div.colophon-date
{   font-size: x-small;
}
div.colophon-mail-to
{   font-family: monospace;
    font-size: xx-small;
}
div.colophon-url
{   font-size: xx-small;
}

div.sidebar {
  width: 24em;
  float: right; 
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #ffe2a0;
  border-style: solid;
  border-color: #663300;
  padding: 5px;
}
div.sidebar p {
  margin: 0;
}

aside {
  display: none;
}
@media only screen and (min-width: 1000px) {
  aside {
    display: block;
    position: fixed;
    top: 17%; right: 3%;
    width: 12em;
  }
  aside ul {
	padding: 0;
  }
}
aside > div#supportUs {
  animation: showUpAnDisappear 10s infinite alternate;
}
@keyframes showUpAnDisappear {
    from { opacity:0; /* visibility:visible; */}
    to { opacity:1; /*visibility:hidden; */}
}

.hidden {
  display: none;
}
/*================================================================
 * HTML5 Boilerplate Print Styles
 */
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 1cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}