.bordered-link {
  padding:2px 3px; 
  margin-right:1em; 
  border: 1px solid black;
}

.usersViewFieldLabel {
  font-size: 1em;
  font-weight: 700;
  line-height: inherit;
  color: #779125;
} 

.consoleCode {
  background: black;
  color: white;
  display: inline-block;
  padding: 2px 5px;
}

div.views-row-odd {
  padding: 10px 0 5px 5px;
  background-color: #F0F0F0;
  border-radius: 5px 0 0 0;
}

div.views-row-even {
  padding: 10px 0 5px 5px;
  background-color: #F8F8F8;
}

div.user-picture {
  float: none !important;
}

a.feed-icon[title="Subscribe to newsletter feed"] {
  display: none;
}

div.issues-link {
  display: none;
}

.region-header {
  max-width: 320px;
  padding: 0 !important;
}

#branding {
  padding: 25px 0 30px 25px !important;
}

figcaption {
  font-weight: bold;
}

figure {
  display: inline-block !important;
  text-align: center;
  max-width: 95%;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

pre {
  background: #F7EAE7;
  padding: 5px 10px;
  border-radius: 5px;
}

table, th, td  {
  border: 1px solid lightgray;
}

