<!DOCTYPE html>

<html lang="en" dir="ltr"
  prefix="fb: http://ogp.me/ns/fb# content: http://purl.org/rss/1.0/modules/content/ dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns# rdfs: http://www.w3.org/2000/01/rdf-schema# sioc: http://rdfs.org/sioc/ns# sioct: http://rdfs.org/sioc/types# skos: http://www.w3.org/2004/02/skos/core# xsd: http://www.w3.org/2001/XMLSchema#">



<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="../sites/default/files/machine-build-16x16_0.png" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="MobileOptimized" content="width" />
  <meta name="description"
    content="In summary, the answer to this question is: because unlike the general concept of an object type or class, the general concept of an association, as defined by UML, does not have a direct computational counterpart, neither in common object-oriented (OO) programming languages, nor in SQL. Only the simplest case of an association has a direct computational counterpart: a" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="canonical" href="Why-are-associations-so-difficult-to-understand.html" />
  <link rel="shortlink" href="../node/4.html" />
  <title>Why are associations so difficult to understand, not just for developers? | web-engineering.info</title>
  <link rel="stylesheet" href="../../_includes/modules/system/system.base5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.theme5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.menus5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/system/system.messages5056.css" type="text/css" media="all">
  
  <link rel="stylesheet" href="../../_includes/modules/comment/comment5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/field/theme/field5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/node/node5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/search/search5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/user/user5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/modules/forum/forum5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/views/css/views5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ckeditor/css/ckeditor5056.css" type="text/css" media="all">
  
  
  <link rel="stylesheet" href="../../_includes/sites/all/modules/ctools/css/ctools5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/easy_social/css/easy_social5056.css" type="text/css" media="all">

  
  <link rel="stylesheet" href="../../_includes/sites/all/modules/advanced_forum/styles/naked/advanced-forum.naked.structure5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/advanced_forum/styles/silver_bells/advanced-forum.silver_bells.style5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/advanced_forum/styles/naked/advanced-forum.naked.images5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/modules/advanced_forum/styles/silver_bells/advanced-forum.silver_bells.images5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.headings5056.css" type="text/css" media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.settings.style.image5056.css" type="text/css" media="screen">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/adaptivetheme/at_core/css/at.layout5056.css" type="text/css" media="screen">
  
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/webeng.custom5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/html-elements5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/forms5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/tables5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/page5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/articles5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/comments5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/fields5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/blocks5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/navigation5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/corolla.settings.style5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/color/colors5056.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/print5056.css" type="text/css" media="print">
  
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.responsive.layout5056.css" media="only screen" />
  <link rel="stylesheet" href="../../_includes/sites/default/files/adaptivetheme/corolla_files/corolla.fonts5056.css" type="text/css" media="screen">
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.custom5056.css" media="only screen" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.portrait5056.css" media="only screen and (max-width:320px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.smartphone.landscape5056.css" media="only screen and (min-width:321px) and (max-width:480px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.portrait5056.css" media="only screen and (min-width:481px) and (max-width:768px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.tablet.landscape5056.css" media="only screen and (min-width:769px) and (max-width:1024px)" />
  <link type="text/css" rel="stylesheet" href="../../_includes/sites/all/themes/corolla/css/responsive.desktop5056.css" media="only screen and (min-width:1025px)" />
  
</head>

<body
  class="html not-front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-4 node-type-blog atr-7.x-3.x atv-7.x-3.1 site-name-web-engineeringinfo section-blog color-scheme-default corolla bs-n bb-n mb-dd rc-6 rct-6">
  <div id="skip-link" class="nocontent">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>
  <div id="page-wrapper">
    <div id="page"
      class="page snc-n snw-n sna-l sns-n ssc-n ssw-n ssa-l sss-n btc-n btw-b bta-l bts-n ntc-n ntw-b nta-l nts-n ctc-n ctw-b cta-l cts-n ptc-n ptw-b pta-l pts-n">


      <div id="header-wrapper">
        <div class="container clearfix">

          <header class="clearfix with-logo" role="banner">

            <div id="branding" class="branding-elements clearfix">

              <div id="logo">
                <a href="../../index.html"><img class="site-logo" typeof="foaf:Image"
                    src="../sites/default/files/logo_1.png" alt="web-engineering.info" /></a>
              </div>

              <div class="h-group" id="name-and-slogan">

                <h1 id="site-name"><a href="../../index.html" title="Home page">web-engineering.info</a></h1>

                <h2 id="site-slogan">High-quality resources for learning developers and makers</h2>

              </div>

            </div>


          </header>

        </div>
      </div>




      <div id="content-wrapper">
        <div class="container">

          <div id="columns">
            <div class="columns-inner clearfix">

              <div id="content-column">
                <div class="content-inner">


                  <section id="main-content" role="main">


                    <div class="content-margin">
                      <div class="content-style">


                        <div id="breadcrumb" class="clearfix">
                          <nav class="breadcrumb-wrapper clearfix" role="navigation" aria-labelledby="breadcrumb-label">
                            <h2 id="breadcrumb-label" class="element-invisible">You are here</h2>
                            <ol id="crumbs" class="clearfix">
                              <li class="crumb crumb-first"><span typeof="v:Breadcrumb"><a rel="v:url"
                                    property="v:title" href="../../blog/index.html">Blogs</a></span></li>
                              <li class="crumb crumb-last"><span class="crumb-separator"> &#187; </span><span
                                  typeof="v:Breadcrumb"><a rel="v:url" property="v:title" href="2.html">gwagner&#039;s
                                    blog</a></span></li>
                            </ol>
                          </nav>
                        </div>

                        <header class="clearfix">
                          <h1 id="page-title">
                            Why are associations so difficult to understand, not just for developers? </h1>
                        </header>



                        <div id="content">
                          <div class="region region-content">
                            <div id="block-easy-social-easy-social-block-1"
                              class="block block-easy-social no-title odd first block-count-1 block-region-content block-easy-social-block-1">

                              <div class="easy_social_box clearfix horizontal easy_social_lang_en">
                                <div class="easy_social-widget easy_social-widget-twitter first"><a
                                    href="https://twitter.com/share" class="twitter-share-button"
                                    data-url="https://web-engineering.info/blog/Why-are-associations-so-difficult-to-understand"
                                    data-count="horizontal" data-lang="en" data-via="" data-related=":Check it out!"
                                    data-text="web-engineering.info">Tweet</a></div>
                                <div class="easy_social-widget easy_social-widget-facebook">
                                  <fb:like href="Why-are-associations-so-difficult-to-understand.html" send="true"
                                    layout="button_count" width="88" show_faces="true"
                                    action="https://web-engineering.info/blog/like" colorscheme="light" font="">
                                  </fb:like>
                                </div>
                                <div class="easy_social-widget easy_social-widget-googleplus">
                                  <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                    data-href="https://web-engineering.info/blog/Why-are-associations-so-difficult-to-understand">
                                  </div>
                                </div>
                                <div class="easy_social-widget easy_social-widget-linkedin last">
                                  
                                </div>
                              </div> <!-- /.easy_social_box -->
                            </div>
                            <div id="block-system-main"
                              class="block block-system no-title even last block-count-2 block-region-content block-main">

                              <article id="node-4"
                                class="node node-blog article odd node-with-picture node-full ia-n clearfix"
                                about="/blog/Why-are-associations-so-difficult-to-understand"
                                typeof="sioc:Post sioct:BlogPost" role="article">
                                <div class="node-inner">


                                  <header class="node-header">


                                    <p class="submitted"><span property="dc:date dc:created"
                                        content="2014-11-21T15:30:27+01:00" datatype="xsd:dateTime"
                                        rel="sioc:has_creator">Submitted by <a href="../user/2.html"
                                          title="View user profile." class="username" xml:lang="" about="/user/2"
                                          typeof="sioc:UserAccount" property="foaf:name" datatype="">gwagner</a> on
                                        <time datetime="2014-11-21T15:30:27+0100">Fri, 11/21/2014 - 15:30</time></span>
                                    </p>

                                  </header>
                                  <span property="dc:title"
                                    content="Why are associations so difficult to understand, not just for developers?"
                                    class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0"
                                    datatype="xsd:integer" class="rdf-meta element-hidden"></span>
                                  <div class="node-content">
                                    <div class="user-picture">
                                      <a href="../user/2.html" title="View user profile."><img typeof="foaf:Image"
                                          class="image-style-thumbnail"
                                          src="../sites/default/files/styles/thumbnail/public/pictures/picture-2-14442312552e30.jpg?itok=fLXXwl1V"
                                          alt="gwagner&#039;s picture" title="gwagner&#039;s picture" /></a>
                                    </div>
                                    <div
                                      class="field field-name-body field-type-text-with-summary field-label-hidden view-mode-full">
                                      <div class="field-items">
                                        <div class="field-item even" property="content:encoded">
                                          <p><img
                                              alt="Class diagram with a chair association between classes Committee and ClubMember"
                                              src="../../oxygen.informatik.tu-cottbus.de/webeng/fig/machine-build-32x32.html"
                                              style="float:left; height:32px; margin-bottom:3px; margin-right:8px; width:32px" />In
                                            summary, the answer to this question is: because unlike the general concept
                                            of an object type or class, the general concept of an association, as
                                            defined by UML, does not have a direct computational counterpart, neither in
                                            common object-oriented (OO) programming languages, nor in SQL. Only the
                                            simplest case of an association has a direct computational counterpart: a
                                            <strong>uni-directional functional association</strong> corresponds to a
                                            <strong>reference propertiy</strong> of a class in OO programming languages,
                                            and to a <strong>foreign key</strong> of a table in SQL. But then we still
                                            have <strong>bi-directional</strong> and <strong>non-functional</strong>
                                            associations not being directly supported in OO languages and SQL We could
                                            also express this in the following way:
                                          </p>

                                          <blockquote>Neither OO programming languages, nor SQL, do support associations
                                            as first class citizens.</blockquote>

                                          <p>Even in the definition of UML by the Object Management Group, which is the
                                            result of more than ten years work by hundreds of smart people, there was
                                            quite some confusion about associations until recently, when they finally
                                            (in 2012 with UML 2.5) clarified the concept of 'association ends' onwed by
                                            an associated class, introducing a new visual notation for <em>reference
                                              properties</em> represented by a&nbsp;<em>uni-directional functional
                                              association</em>, called the 'association end ownership
                                            <strong>dot</strong>'.
                                          </p>

                                          <p><img
                                              alt="Class diagram with reference property Committee::chair referencing the class ClubMember"
                                              src="../tech/fig/CommitteeChair_AFM.svg"
                                              style="float:right; height:55px; margin-bottom:1em; margin-left:1em; width:268px" />We
                                            can illustrate this correspondence with the help of two class diagrams. In
                                            the first diagram, on the right, the class <code>Committee</code> has a
                                            functional reference property <code>chair</code>, referencing the class
                                            <code>ClubMember</code>.
                                          </p>

                                          <p><img
                                              alt="Class diagram with a chair association between classes Committee and ClubMember"
                                              src="../tech/fig/CommitteeChair_DesM.svg"
                                              style="float:right; height:60px; margin-bottom:1em; margin-left:1em; width:279px" />
                                            In the second diagram, on the right, the single-valued reference property
                                            <code>chair</code> is represented visually in the form of a
                                            corresponding&nbsp;functional uni-drectional association between the classes
                                            <code>Committee</code> and <code>ClubMember</code>. Notice the dot at the
                                            association end annotated with 'chair'. This dot indicates that the
                                            association end is owned by <code>Committee</code>, which is equivalent to
                                            the previous model where <code>chair</code> is a reference property of
                                            <code>Committee</code>.
                                          </p>

                                          <p>An <strong>association</strong> between object types classifies
                                            relationships between objects of those types. For instance, the association
                                            Committee-<strong>has</strong>-ClubMember-<strong>as-chair</strong>, which
                                            is visualized as a connection line in the second class diagram shown above,
                                            may classify the relationships
                                            FinanceCommittee-<strong>has</strong>-PeterMiller-<strong>as-chair</strong>,
                                            RecruitmentCommittee-<strong>has</strong>-SusanSmith-<strong>as-chair</strong>
                                            and
                                            BerlinRotaryClub-<strong>has</strong>-SarahAnderson-<strong>as-chair</strong>,
                                            where the objects PeterMiller, SusanSmith and SarahAnderson are of type
                                            <code>ClubMember</code>, and the objects FinanceCommittee,
                                            RecruitmentCommittee and AdvisoryCommittee are of type Committee.
                                          </p>

                                          <p>A property defined for an object type, or class, is called a
                                            <strong>reference property</strong> if its values are references that
                                            reference an object from some class. For instance, the class
                                            <code>Committee</code> shown in the first class diagram above, has a
                                            reference property chair, the values of which are references to objects of
                                            type <code>ClubMember</code>.
                                          </p>

                                          <p>Reference properties correspond to a special form of associations, namely
                                            to <strong>unidirectional</strong> binary associations. While a binary
                                            association does, in general, not need to be directional, a reference
                                            property represents a binary association that is directed from the
                                            property's domain class (where it is defined) to its range class.</p>

                                          <p>In general, associations are <strong>relationship types</strong> with two
                                            or more <strong>object types</strong> participating in them. An association
                                            between two object types is called <strong>binary</strong>. In this tutorial
                                            we only discuss binary associations. For simplicity, we just say
                                            'association' when we actually mean 'binary association'.</p>

                                          <p>While individual relationships (such as
                                            FinanceCommittee-<strong>has</strong>-PeterMiller-<strong>as-chair</strong>)
                                            are important information items in business communication and in information
                                            systems, associations (such as
                                            Committee-<strong>has</strong>-ClubMember-<strong>as-chair</strong>) are
                                            important elements of information models. Consequently, software
                                            applications have to implement them in a proper way, typically as part of
                                            their model layer within a model-view-controller (MVC) architecure.
                                            Unfortunately, many application development frameworks lack the required
                                            support for dealing with associations.</p>

                                          <p>In mathematics, associations have been formalized in an abstract way as
                                            sets of uniform tuples, called 'relations'. In Entity-Relationship (ER)
                                            modeling, which is the classical information modeling approach in
                                            information systems and software engineering, objects are called entities,
                                            and associations are called relationship types. The Unified Modeling
                                            Language (UML) includes the UML Class Diagram language for information
                                            modeling. In UML, object types are called classes, relationship types are
                                            called associations, and individual relationships are called "links".</p>

                                          <p>The following table provides an overview about the different cases of
                                            functionality of an association:</p>

                                          <table>
                                            <caption>Table&nbsp;1.&nbsp;Functionality types</caption>
                                            <thead>
                                              <tr>
                                                <th>Functionality type</th>
                                                <th>Meaning</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>one-to-one</td>
                                                <td>both functional and inverse functional</td>
                                              </tr>
                                              <tr>
                                                <td>many-to-one</td>
                                                <td>functional</td>
                                              </tr>
                                              <tr>
                                                <td>one-to-many</td>
                                                <td>inverse functional</td>
                                              </tr>
                                              <tr>
                                                <td>many-to-many</td>
                                                <td>neither functional nor inverse functional</td>
                                              </tr>
                                            </tbody>
                                          </table>

                                          <p>Notice that the directionality and the functionality type of an association
                                            are independent of each other. So, a unidirectional association can be
                                            either functional (one-to-one or many-to-one), or non-functional
                                            (one-to-many or many-to-many).</p>

                                          <p>When we make an information model in the form of a UML class diagram, we
                                            typically end up with a model containing one or more associations that do
                                            not have any ownership defined for their ends. When there is no ownership
                                            dot at either end of an association, this means that the model does not
                                            specify how the association is to be represented (or realized) with the help
                                            of reference properties. Such an association does not have any direction.
                                            According to the UML 2.5 specification, the ends of such an association are
                                            "owned" by itself, and not by any of the classes participating in it.</p>

                                          <p>A model without association end ownership dots is acceptable as a
                                            relational database design model, but it is incomplete as an information
                                            design model for classical object-oriented (OO) programming languages.There
                                            are three options how to turn a model without association end ownership dots
                                            into a complete OO design model where all associations are either
                                            uni-directional or bi-directional: we can place an ownership dot at either
                                            end or at both ends of the association. Each of these three options defines
                                            a different way how to represent, or implement, the association with the
                                            help of reference properties.</p>

                                          <p>You can read more about associations in general, and how they can be
                                            implemented with JavaScript, in the third part of my book on <a
                                              href="../JsFrontendApp-Book/index.html">Engineering Frontend Web Apps with Plain
                                              JavaScript</a>.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="easy_social_box clearfix horizontal easy_social_lang_und">
                                      <div class="easy_social-widget easy_social-widget-twitter first"><a
                                          href="https://twitter.com/share" class="twitter-share-button"
                                          data-url="https://web-engineering.info/blog/Why-are-associations-so-difficult-to-understand"
                                          data-count="horizontal" data-lang="en" data-via=""
                                          data-related=":Check it out!"
                                          data-text="Why are associations so difficult to understand, not just for developers?">Tweet</a>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-facebook">
                                        <fb:like href="Why-are-associations-so-difficult-to-understand.html" send="true"
                                          layout="button_count" width="88" show_faces="true"
                                          action="https://web-engineering.info/blog/like" colorscheme="light" font="">
                                        </fb:like>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-googleplus">
                                        <div class="g-plusone" data-size="medium" data-annotation="bubble"
                                          data-href="Why-are-associations-so-difficult-to-understand.html"></div>
                                      </div>
                                      <div class="easy_social-widget easy_social-widget-linkedin last">
                                        
                                      </div>
                                    </div> <!-- /.easy_social_box -->
                                    <div id="disqus_thread"><noscript>
                                        <p><a
                                            href="http://web-engineering.disqus.com/?url=https%3A%2F%2Fweb-engineering.info%2Fblog%2FWhy-are-associations-so-difficult-to-understand">View
                                            the discussion thread.</a></p>
                                      </noscript></div>
                                  </div>

                                  <nav class="clearfix">
                                    <ul class="links inline">
                                      <li class="blog_usernames_blog first last"><a href="2.html"
                                          title="Read gwagner&#039;s latest blog entries.">gwagner&#039;s blog</a></li>
                                    </ul>
                                  </nav>


                                </div>
                              </article>

                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </section>

                  <div class="region region-content-aside">
                    <div class="region-inner clearfix">
                      <div id="block-block-2"
                        class="block block-block no-title odd first last block-count-3 block-region-content-aside block-2">
                        <div class="block-inner clearfix">

                          <div class="block-content content">
                            <p style="text-align: center; margin-top: 10px;">©
                              2014-2020&nbsp;web-engineering.info&nbsp;<a
                                href="https://plus.google.com/104237216582874489152" rel="publisher"><img alt="G+"
                                  src="../../assets/images/gplus-16.png" style="width: 16px; height: 16px;" /></a> | <a
                                href="../../about/index.html">About Us</a> | <a href="../../privacy/index.html">Privacy
                                Policy</a> | Terms
                              &amp;
                              Conditions</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="region region-sidebar-first sidebar">
                <div class="region-inner clearfix">
                  <nav id="block-system-main-menu"
                    class="block block-system block-menu odd first block-count-3 block-region-sidebar-first block-main-menu"
                    role="navigation">
                    <div class="block-inner clearfix">
                      <h2 class="block-title">Main menu</h2>

                      <div class="block-content content">
                        <ul class="menu clearfix">
                          <li class="first leaf menu-depth-1 menu-item-1476"><a href="https://sim4edu.com"
                              title="The Simulation for Education (Sim4edu) project website supports web-based simulation with open source technologies for science and education.">Web-Based
                              Discrete Event Simulation</a></li>
                          <li class="leaf menu-depth-1 menu-item-1218"><a href="../../WebAppBook/index.html"
                              title="Web Applications with JavaScript or Java">Textbook
                              Web Apps JS+Java</a></li>
                          <li class="leaf menu-depth-1 menu-item-1477"><a href="../../textbooknode80/index.html">Book
                              Information Management</a></li>
                          <li class="leaf menu-depth-1 menu-item-366"><a href="../blog/index.html"
                              title="A blog about web engineering issues.">Web Engineering
                              Blog</a></li>
                          <li class="leaf menu-depth-1 menu-item-758"><a
                              href="../../SummariesCheatsheetsPosters/index.html">Summaries
                              &amp; Cheat
                              Sheets</a></li>
                          <li class="leaf menu-depth-1 menu-item-361"><a href="../../JsFrontendApp/index.html"
                              title="This 6-part tutorial shows how to build front-end web applications with plain JavaScript, not using any (third-party) framework or library.">Front-End
                              Apps with Plain JS</a></li>
                          <li class="leaf active-trail menu-depth-1 menu-item-465"><a
                              href="../../JavaJpaJsfApp/index.html"
                              title="Learn how to build back-end Java web applications with Java Server Faces (JSF) as the user interface technology, the Java Persistence API (JPA) as the object-to-storage mapping technology, and a MySQL database."
                              class="active-trail active">Back-End Apps with Java EE</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-806"><a href="../../mODELcLASSjsApp/index.html"
                              title="Getting rid of boilerplate code with the model-based development approach of mODELcLASSjs.">Apps
                              with mODELcLASSjs </a></li>
                          <li class="leaf menu-depth-1 menu-item-805"><a href="../../WoTProjects/index.html"
                              title="A WoT system is a communication network consisting of sensor nodes, actuator nodes and service nodes connected to the Internet and built with web technologies.">Web
                              of Things (WoT)</a></li>
                          <li class="leaf menu-depth-1 menu-item-613"><a href="../../forum/index.html"
                              title="">Discussion Forums</a>
                          </li>
                          <li class="leaf menu-depth-1 menu-item-720"><a href="../../team/index.html"
                              title="Team members list.">Team</a></li>
                          <li class="last leaf menu-depth-1 menu-item-554"><a
                              href="../../contribute/index.html">Contribute / Support Us</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                 
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>
</body>


</html>