/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  padding: 8px;
}

table { 
  border-collapse:collapse;
  margin: 1em 0;
}  
table, td, th { 
  border: 1px solid black;
  padding: 5px;
}  
table th {
  background: aliceblue;
}

menu {
  width: 10em;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
}
menu li {
  list-style: none;
  height: 1.5em;
  margin: 2px auto;
}
menu li button {
  width: 9em;
}
footer {
  margin: 2em auto;
}

form :invalid {
    box-shadow: none;  /* neutralizing FF */
    outline: red;      /* using the IE 10 style */
}
form > div  {
  margin: 0.2em 0;  
}
form > div > label {
  display: block;
  position: relative;
  margin: 0 0 5px 0;  
}
form > div > label > input[type="text"] {
  position: absolute;
  left: 10em;
}
