/* =============================================
   Section Counters 
   For articles where main>section elements denote main sections
   ============================================= */

#main  { 
  counter-reset: sections figures tables;
}  
#main > section  { 
  counter-reset: sub-sections;
}
#main > section > h1:before {
  counter-increment: sections;
  content: counter(sections) " "
}
#main > section > section > h1:before {
  counter-increment: sub-sections;
  content: counter(sections) "." counter(sub-sections) " "
}
